/* Base styles shared by all buttons */
.button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  border-radius: 8px;
  cursor: pointer;
  min-height: 35px;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(60, 128, 246, 1),
    rgba(146, 50, 233, 1)
  );
  background-size: 200% 100%;
  background-position: left;
  transition: background-position 0.5s ease-in-out;
  color: black;
  border: none;
}

.gradient:hover {
  background-position: right;
}

.outline {
  background: #3f3f46; /*dark mode target : light mode transparent*/
  color: white; /*dark mode target : light mode black*/
  border: 1px solid #3f3f46; /*dark mode target : light mode #d6d6db*/
}

.outline:hover {
  background: #f6f6f7;
}

.danger {
  transition: 0.2s ease;
  background: #ff0000;
  color: white;
  border: none;
}

.danger:hover {
  background: white;
  color: #ff0000;
  border: #ff0000 1px solid;
}
