/* Base styles shared by all buttons */
.baseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  height: 35px; 
  align-self: end;
  
}

