.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100dvh;
}

/* Styling for Mobile Devices */
@media screen and (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'dashboard';
  }
}