.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #6E6E73;
  border-bottom: 1px solid #E4E4E7;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchIcon {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 20px;
  height: 20px;
}

.header h1 {
  margin: 0;
  font-size: 1.3rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #E4E4E7;
  padding: 8px 12px;
  padding-left: 36px;
  border-radius: 8px;
}

.mobileMenuIcon {
  display: none;
}

.xmarkIcon {
  display: none;
}

/* Styling for Mobile Devices */
@media screen and (max-width: 768px) {
  .header {
    color: white;
  }

  .header h1 {
    color: white;
  }

  .mobileMenuIcon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    padding-top: 5px;
    transition: transform 0.5s ease-in-out;
  }
}