.toggleGroup {
  display: flex;
  gap: 4px;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #F6F6F7;
}

.toggleGroupItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  border-radius: 4px;
  cursor: pointer;
}

.toggleGroupItem:hover {
  background-color: salmon;
}

.toggleGroupItem[data-state='on'] {
  background-color: #FEFEFE;
  border: 1px solid #D5D7DA;
  color: #545455;
}

.toggleGroupItem[data-state='off'] {
  background-color: transparent;
  border: none;
  color: #939399;
}