.dashboardContent {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 18px 26px 8px;
  overflow: hidden;
}

.title {
  font-size: 24px;
}

.bookRoomButton {
  display: none;
}

/* Styling for Mobile Devices */
@media (max-width: 768px) {
  .dashboardContent {
    padding: 22px 28px;
  }

  .bookRoomButton {
    display: block;
    width: 100%;
    background-color: #e3eefc;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    padding: 0.5rem 0 0.5rem 0;
  }

  .bookRoomButton button:hover {
    color: #a1a6aa;
  }
}

