.selectCenterLabel {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 3px;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.dropDownBox {
  width: 100%;
  padding: 8px;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}